@font-face {
  font-family: 'Devonshire-Regular';
  src: url("../fonts/Devonshire-Regular.ttf");
}

@font-face {
  font-family: 'Heart-Warning';
  src: url("../fonts/Heart-Warming.otf");
}

@font-face {
  font-family: 'CroissantOne-Regular';
  src: url(../fonts/CroissantOne-Regular.ttf);
}

@font-face {
  font-family: 'DancingScript';
  src: url(../fonts/DancingScript.ttf);
}

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url(../fonts/KaushanScript-Regular.ttf);
}

@font-face {
  font-family: 'SweetyStrawberry';
  src: url(../fonts/SweetyStrawberry.ttf);
}

@font-face {
  font-family: 'Vinegar-Regular';
  src: url(../fonts/Vinegar-Regular.otf);
}

* {
  box-sizing: border-box;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.8) translateY(8px);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 110px;
  background-color: #579c87;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 4rem;
  letter-spacing: -6px;
  color: #fdcb46;
  text-decoration: none;
}

header h1 > a {
  font-family: 'Archivo', sans-serif;
  font-size: 4rem;
  letter-spacing: -6px;
  color: #fdcb46;
  text-decoration: none;
}

footer {
  height: 70px;
  width: 100vw;
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer a {
  font-family: 'Archivo', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #fdcb46;
  text-decoration: none;
  padding: 0 25px 0 25px;
}

.conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .conteneur {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
  }
}

@media screen and (min-width: 1024px) {
  .conteneur {
    width: 900px;
  }
}

.tesseract {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 305px;
  width: 220px;
  margin: 20px;
  background: #fcdfdb;
  box-shadow: 0px 0px 10px 3px #c2c0c0;
}

@media screen and (min-width: 1024px) {
  .tesseract {
    height: 366px;
    width: 264px;
  }
}

.tesseract__chic {
  background: #fff5fe;
}

.tesseract__chic a > p:nth-child(1) {
  background: linear-gradient(135deg, #e38a12 0%, #9056ff 71%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'CroissantOne-Regular';
}

.tesseract__chic a > p:nth-child(2) {
  font-family: 'Vinegar-Regular';
  color: #c77412;
}

.tesseract__delice {
  background: #f9f9f9;
}

.tesseract__delice a > p:nth-child(1) {
  background: linear-gradient(135deg, #0229dd 0%, #0e8cfb 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'DancingScript';
  font-size: 1.5em;
}

.tesseract__delice a > p:nth-child(2) {
  font-family: 'SweetyStrawberry';
  color: #0887fb;
}

.tesseract__palette {
  background: #fdfffd;
}

.tesseract__palette a > p:nth-child(1) {
  background: linear-gradient(135deg, #3e923a 0%, #beff7f 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'KaushanScript-Regular';
  font-size: 1.5em;
}

.tesseract__palette a > p:nth-child(2) {
  font-family: 'SweetyStrawberry';
  color: #72bf56;
}

.tesseract a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}

.tesseract a:hover {
  transform: scale(1.2);
  opacity: 0.6;
}

.tesseract a > p:nth-child(1) {
  margin: 0;
}

.tesseract a > p:nth-child(2) {
  font-size: 2em;
}

.tesseract a > .bloc-menu-note {
  font-size: 1.6em !important;
  font-family: 'Devonshire-Regular';
  color: #3d1319;
  margin-top: 0;
}

.tesseract a > .bloc-menu-note--modif {
  font-family: 'Heart-Warning';
  text-transform: uppercase;
  color: #3d1319;
  font-size: 2em;
  margin-top: 0;
}

.tesseract a > .fab {
  font-size: 3em;
  background: linear-gradient(to right, #f15d61, #f6916a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-note {
  background: #fcdfdb;
  text-align: center;
  margin: 30px 0 30px;
  padding: 0 15px 0 15px;
}

.menu-note p,
.menu-note h3 {
  font-family: 'Heart-Warning';
}

.menu-note .prix {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .menu-note {
    box-shadow: 0px 0px 10px 3px #c2c0c0;
    padding: 0 65px 0 65px;
  }
  .menu-note .plat {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
  }
  .menu-note .prix {
    display: flex;
    justify-content: flex-end;
    margin-top: -35px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-note {
    padding: 0 100px 0 100px;
  }
}

.menu-note h3,
.menu-note p {
  color: #3d1319;
  font-family: 'Heart-Warning';
}

.menu-note .titre {
  font-family: 'Devonshire-regular';
  font-size: 2.5em;
  margin-top: 5px;
}

.menu-note .titre--pluspetit {
  font-family: 'Devonshire-regular';
  font-size: 2em;
  margin-top: 50px;
}

.menu-note h3 {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
  margin-top: 50px;
}

.menu-note h3:hover {
  background-size: 100% 100%;
}

.menu-note .i-note {
  background: linear-gradient(to right, #f15d61, #f6916a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
  margin: 50px 0 0;
}

.menu-note .fab {
  background: linear-gradient(to right, #f15d61, #f6916a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-right: 10px;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 265px;
  background-color: #579c87;
  border-radius: 10px;
  margin-bottom: 100px;
  opacity: 1;
  transition: opacity 0.6s;
}

.soon:hover {
  opacity: 0.8;
}

.soon p,
.soon a {
  text-decoration: none;
  color: #fdcb46;
  font-family: 'Archivo', sans-serif;
  font-size: 1.3rem;
}

.soon span {
  width: 6px;
  height: 6px;
  margin: 0 2px 4px;
  border-radius: 50%;
  background-color: #fdcb46;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.soon span:nth-child(2) {
  animation-delay: 0.4s;
}

.soon span:nth-child(3) {
  animation-delay: 0.8s;
}

.vibreur:hover {
  animation-name: shake;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.mentions {
  max-width: 900px;
  background: #fcdfdb;
  padding: 20px 15px 30px 15px;
  margin: 30px 0 30px;
  font-family: 'Archivo';
  box-shadow: 0px 0px 10px 3px #c2c0c0;
}

.mentions h2,
.mentions h3 {
  margin: 30px 0 0;
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, black 0%, black 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.mentions h2:hover,
.mentions h3:hover {
  background-size: 100% 100%;
}

.mentions a {
  text-decoration: none;
  color: #579c87;
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #579c87 0%, #579c87 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.mentions a:hover {
  background-size: 100% 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-chic {
  background: #fff5fe;
  text-align: center;
  margin: 30px 0 30px;
  padding: 0 15px 0 15px;
}

.menu-chic p,
.menu-chic h3 {
  font-family: 'Heart-Warning';
}

.menu-chic .prix {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .menu-chic {
    box-shadow: 0px 0px 10px 3px #c2c0c0;
    padding: 0 65px 0 65px;
  }
  .menu-chic .plat {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
  }
  .menu-chic .prix {
    display: flex;
    justify-content: flex-end;
    margin-top: -35px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-chic {
    padding: 0 100px 0 100px;
  }
}

.menu-chic h2 {
  background: linear-gradient(135deg, #e38a12 0%, #9056ff 71%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'CroissantOne-Regular';
  font-size: 1.8rem;
  margin: 50px 0 50px;
}

.menu-chic p,
.menu-chic h3 {
  font-family: 'Vinegar-Regular';
}

.menu-chic__titre-entree h3,
.menu-chic__titre-entree p {
  color: #c77412;
}

.menu-chic__titre-entree h3 {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #c77412 0%, #c77412 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
  margin-top: 20px;
}

.menu-chic__titre-entree h3:hover {
  background-size: 100% 100%;
}

.menu-chic__titre-plat h3,
.menu-chic__titre-plat p {
  color: #a56899;
}

.menu-chic__titre-plat h3 {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #a56899 0%, #a56899 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
  margin-top: 50px;
}

.menu-chic__titre-plat h3:hover {
  background-size: 100% 100%;
}

.menu-chic__titre-dessert h3,
.menu-chic__titre-dessert p {
  color: #6e4ccc;
}

.menu-chic__titre-dessert h3 {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
  margin-top: 50px;
}

.menu-chic__titre-dessert h3:hover {
  background-size: 100% 100%;
}

.menu-chic__titre-dessert > p:nth-of-type(3) {
  margin-bottom: 50px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-delice {
  background: #f9f9f9;
  text-align: center;
  margin: 30px 0 30px;
  padding: 0 15px 0 15px;
}

.menu-delice p,
.menu-delice h3 {
  font-family: 'Heart-Warning';
}

.menu-delice .prix {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .menu-delice {
    box-shadow: 0px 0px 10px 3px #c2c0c0;
    padding: 0 65px 0 65px;
  }
  .menu-delice .plat {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
  }
  .menu-delice .prix {
    display: flex;
    justify-content: flex-end;
    margin-top: -35px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-delice {
    padding: 0 100px 0 100px;
  }
}

.menu-delice h2 {
  background: linear-gradient(135deg, #0229dd 0%, #0e8cfb 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'DancingScript';
  font-size: 3.5rem;
  margin: 50px 0 50px;
}

.menu-delice h3,
.menu-delice p {
  color: black;
  font-family: 'SweetyStrawberry';
  letter-spacing: 1px;
}

.menu-delice h3 {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.menu-delice h3:hover {
  background-size: 100% 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-palette {
  background: #fdfffd;
  text-align: center;
  margin: 30px 0 30px;
  padding: 0 15px 0 15px;
}

.menu-palette p,
.menu-palette h3 {
  font-family: 'Heart-Warning';
}

.menu-palette .prix {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .menu-palette {
    box-shadow: 0px 0px 10px 3px #c2c0c0;
    padding: 0 65px 0 65px;
  }
  .menu-palette .plat {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
  }
  .menu-palette .prix {
    display: flex;
    justify-content: flex-end;
    margin-top: -35px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-palette {
    padding: 0 100px 0 100px;
  }
}

.menu-palette h2 {
  background: linear-gradient(135deg, #3e923a 0%, #beff7f 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'KaushanScript-Regular';
  font-size: 3.5rem;
  margin: 50px 0 50px;
}

.menu-palette h3,
.menu-palette p {
  color: black;
  font-family: 'SweetyStrawberry';
  letter-spacing: 1px;
}

.menu-palette h3 {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.menu-palette h3:hover {
  background-size: 100% 100%;
}

.landscape {
  display: none;
}
/*# sourceMappingURL=style.css.map */