@font-face { font-family: 'Devonshire-Regular'; src: url("../fonts/Devonshire-Regular.ttf"); }

@font-face { font-family: 'Heart-Warning'; src: url("../fonts/Heart-Warming.otf"); }

@font-face { font-family: 'CroissantOne-Regular'; src: url(../fonts/CroissantOne-Regular.ttf); }

@font-face { font-family: 'DancingScript'; src: url(../fonts/DancingScript.ttf); }

@font-face { font-family: 'KaushanScript-Regular'; src: url(../fonts/KaushanScript-Regular.ttf); }

@font-face { font-family: 'SweetyStrawberry'; src: url(../fonts/SweetyStrawberry.ttf); }

@font-face { font-family: 'Vinegar-Regular'; src: url(../fonts/Vinegar-Regular.otf); }

@font-face { font-family: 'Archivo'; src: url(../fonts/Archivo-SemiBold.ttf); }

@font-face { font-family: 'Archivoregular'; src: url(../fonts/Archivo-Regular.ttf); }

* { box-sizing: border-box; }

@-webkit-keyframes shake { 0% { transform: translateX(5%);
    transform: rotate(3deg); }
  100% { transform: translateX(-5%);
    transform: rotate(-3deg); } }

@keyframes shake { 0% { transform: translateX(5%);
    transform: rotate(5deg); }
  100% { transform: translateX(-5%);
    transform: rotate(-5deg); } }

@-webkit-keyframes dots { 50% { opacity: 0;
    transform: scale(0.8) translateY(8px); } }

@keyframes dots { 50% { opacity: 0;
    transform: scale(0.8) translateY(8px); } }

html, body { height: 100%; margin: 0; padding: 0; }

header { height: 110px; background-color: #579c87; display: flex; justify-content: center; align-items: center; }

header h1 { font-family: 'Archivo', sans-serif; font-size: 4rem; letter-spacing: -6px; color: #fdcb46; text-decoration: none; }

header h1 > a { font-family: 'Archivo', sans-serif; font-size: 4rem; letter-spacing: -6px; color: #fdcb46; text-decoration: none; }

footer { height: 70px; width: 100vw; background-color: #579c87; display: flex; justify-content: space-around; align-items: center; position: fixed; bottom: 0; }

footer a { font-family: 'Archivoregular', sans-serif; font-size: 1.2rem; text-align: center; color: #fdcb46; text-decoration: none; padding: 0 25px 0 25px; }

.conteneur { display: flex; flex-direction: column; align-items: center; margin: auto; }

@media screen and (min-width: 768px) { .conteneur { flex-direction: unset; flex-wrap: wrap; justify-content: center; width: 650px; } }

@media screen and (min-width: 1024px) { .conteneur { width: 900px; } }

.cards { display: flex; flex-direction: column; justify-content: center; height: 345px; width: 260px; margin: 20px; background: #fcdfdb; box-shadow: 0px 0px 10px 3px #c2c0c0; }

@media screen and (min-width: 1024px) { .cards { height: 405px; width: 305px; } }

.cards__note a > p:nth-of-type(1) { font-size: 1.6em !important; font-family: 'Devonshire-Regular'; color: #3d1319; margin-top: 0; }

.cards__note a > p:nth-of-type(2) { font-family: 'Heart-Warning'; text-transform: uppercase; color: #3d1319; font-size: 2em; margin-top: 30px; }

.cards__chic { background: #fff5fe; }

.cards__chic a > p:nth-of-type(1) { background: linear-gradient(135deg, #e38a12 0%, #9056ff 71%); color: transparent; -webkit-background-clip: text; font-family: 'CroissantOne-Regular'; text-align: center; font-size: 1.15em !important; }

.cards__chic a > p:nth-of-type(2) { font-family: 'Vinegar-Regular'; color: #c77412; }

.cards__delice { background: #f9f9f9; }

.cards__delice a > p:nth-of-type(1) { background: linear-gradient(135deg, #0229dd 0%, #0e8cfb 100%); color: transparent; -webkit-background-clip: text; font-family: 'DancingScript'; }

.cards__delice a > p:nth-of-type(2) { font-family: 'SweetyStrawberry'; color: #0887fb; }

.cards__palette { background: #fdfffd; }

.cards__palette a > p:nth-of-type(1) { background: linear-gradient(135deg, #3e923a 0%, #beff7f 100%); color: transparent; -webkit-background-clip: text; font-family: 'KaushanScript-Regular'; }

.cards__palette a > p:nth-of-type(2) { font-family: 'SweetyStrawberry'; color: #72bf56; }

.cards a { display: flex; justify-content: center; align-items: center; flex-direction: column; text-decoration: none; transform: scale(1); opacity: 1; transition: transform 0.4s, opacity 0.4s; }

.cards a:hover { transform: scale(1.2); opacity: 0.6; }

.cards a > p:nth-of-type(1) { margin: 0; font-size: 1.5em; }

.cards a > p:nth-of-type(2) { font-size: 2em; }

.cards a > .fab { font-size: 3em; background: linear-gradient(to right, #f15d61, #f6916a); color: transparent; -webkit-background-clip: text; }

.cards a > i { width: 45px; height: 45px; }

.main { display: block; margin: 1rem 3% 8rem 3%; }

.menu-note { background: #fcdfdb; text-align: center; padding: 50px 15px 50px 15px; margin: auto; max-width: 700px; }

.menu-note h3 { white-space: nowrap; width: 235px; }

.menu-note .dessert { display: flex; flex-direction: column; justify-content: flex-start; }

.menu-note .tarte p:nth-child(2) { font-weight: bold; }

@media screen and (min-width: 768px) { .menu-note { box-shadow: 0px 0px 10px 3px #c2c0c0; }
  .menu-note .tarte { display: flex; justify-content: space-between; }
  .menu-note .dessert p { text-align: left; } }

.menu-note h3, .menu-note p { color: #3d1319; font-family: 'Heart-Warning'; }

.menu-note h3 span, .menu-note p span { display: inline-block; padding-bottom: 3px; background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 1px) no-repeat; background-size: 0 100%; transition: background-size 0.6s ease-in-out; color: #3d1319; }

.menu-note h3 span:hover, .menu-note p span:hover { background-size: 100% 100%; }

.menu-note h1 { font-family: 'Devonshire-regular'; font-size: 2.5em; margin-top: 5px; }

.menu-note h2 { font-family: 'Devonshire-regular'; font-size: 2em; margin-top: 50px; }

.menu-note h3 { display: inline; }

.menu-note h3 + div { color: #3d1319; }

.menu-note h3 { display: block; position: relative; line-height: 30px; width: 300px; text-align: center; width: 100%; margin: 0; margin-top: 30px; padding: 0; }

.menu-note h3::before { display: none; }

@media screen and (min-width: 375px) { .menu-note h3::before { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineL-Note.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; left: 0; } }

@media screen and (min-width: 640px) { .menu-note h3::before { width: 30%; } }

.menu-note h3::after { display: none; }

@media screen and (min-width: 375px) { .menu-note h3::after { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineR-Note.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; right: 0; } }

@media screen and (min-width: 640px) { .menu-note h3::after { width: 30%; } }

.menu-note .i-note { background: linear-gradient(to right, #f15d61, #f6916a); color: transparent; -webkit-background-clip: text; font-size: 4rem; margin: 50px 0 0; }

.menu-note .fab { background: linear-gradient(to right, #f15d61, #f6916a); color: transparent; -webkit-background-clip: text; margin-right: 10px; }

.soon { display: flex; justify-content: center; align-items: center; }

.soon a { display: flex; justify-content: center; align-items: center; text-decoration: none; color: #fdcb46; font-family: 'Archivoregular', sans-serif; font-size: 1.3rem; height: 45px; width: 265px; background-color: #579c87; border-radius: 10px; margin: 50px 0 100px; opacity: 1; transition: opacity 0.6s; }

.soon a:hover { opacity: 0.8; }

.soon__btn p { display: flex; justify-content: center; align-items: center; text-decoration: none; color: #fdcb46; font-family: 'Archivoregular', sans-serif; font-size: 1.3rem; height: 45px; width: 265px; background-color: #579c87; border-radius: 10px; margin: 50px 0 100px; }

.soon__btn span { width: 6px; height: 6px; margin: 0 2px 4px 8px; border-radius: 50%; background-color: #fdcb46; display: inline-block; -webkit-animation-name: dots; animation-name: dots; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }

.soon__btn span:nth-child(2) { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }

.soon__btn span:nth-child(3) { -webkit-animation-delay: 0.8s; animation-delay: 0.8s; }

.vibreur:hover { -webkit-animation: shake 60ms ease-in-out; animation: shake 60ms ease-in-out; -webkit-animation-iteration-count: 20; animation-iteration-count: 20; }

.mentions { max-width: 900px; background: #fcdfdb; padding: 20px 15px 30px 15px; margin: auto; font-family: 'Archivoregular'; box-shadow: 0px 0px 10px 3px #c2c0c0; }

.mentions h2, .mentions h3 { margin: 30px 0 0; display: inline-block; padding-bottom: 3px; background: linear-gradient(to top, black 0%, black 2px, transparent 1px) no-repeat; background-size: 0 100%; transition: background-size 0.6s ease-in-out; }

.mentions h2:hover, .mentions h3:hover { background-size: 100% 100%; }

.mentions a { text-decoration: none; color: #579c87; display: inline-block; padding-bottom: 3px; background: linear-gradient(to top, #579c87 0%, #579c87 2px, transparent 1px) no-repeat; background-size: 0 100%; transition: background-size 0.6s ease-in-out; }

.mentions a:hover { background-size: 100% 100%; }

.main { display: block; margin: 1rem 3% 8rem 3%; }

.menu-chic { background: #fff5fe; text-align: center; padding: 50px 15px 50px 15px; margin: auto; max-width: 700px; }

.menu-chic h3 { white-space: nowrap; width: 235px; }

.menu-chic .dessert { display: flex; flex-direction: column; justify-content: flex-start; }

.menu-chic .tarte p:nth-child(2) { font-weight: bold; }

@media screen and (min-width: 768px) { .menu-chic { box-shadow: 0px 0px 10px 3px #c2c0c0; }
  .menu-chic .tarte { display: flex; justify-content: space-between; }
  .menu-chic .dessert p { text-align: left; } }

.menu-chic h2 { background: linear-gradient(135deg, #e38a12 0%, #9056ff 71%); color: transparent; -webkit-background-clip: text; font-family: 'CroissantOne-Regular'; font-size: 1.8rem; margin: 50px 0 50px; }

.menu-chic p, .menu-chic h3 { font-family: 'Vinegar-Regular'; }

.menu-chic h3 { display: inline; }

.menu-chic h3:nth-of-type(1) span { display: inline-block; padding-bottom: 3px; background: linear-gradient(to top, #c77412 0%, #c77412 2px, transparent 1px) no-repeat; background-size: 0 100%; transition: background-size 0.6s ease-in-out; color: #c77412; }

.menu-chic h3:nth-of-type(1) span:hover { background-size: 100% 100%; }

.menu-chic h3:nth-of-type(1) + div { color: #c77412; }

.menu-chic h3 { display: block; position: relative; line-height: 30px; width: 300px; text-align: center; width: 100%; margin: 0; margin-top: 30px; padding: 0; }

.menu-chic h3:nth-of-type(1):before { display: none; }

@media screen and (min-width: 375px) { .menu-chic h3:nth-of-type(1):before { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineL-chic-entree.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; left: 0; } }

@media screen and (min-width: 640px) { .menu-chic h3:nth-of-type(1):before { width: 30%; } }

.menu-chic h3:nth-of-type(1):after { display: none; }

@media screen and (min-width: 375px) { .menu-chic h3:nth-of-type(1):after { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineR-chic-entree.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; right: 0; } }

@media screen and (min-width: 640px) { .menu-chic h3:nth-of-type(1):after { width: 30%; } }

.menu-chic h3:nth-of-type(2) span { display: inline-block; padding-bottom: 3px; background: linear-gradient(to top, #a56899 0%, #a56899 2px, transparent 1px) no-repeat; background-size: 0 100%; transition: background-size 0.6s ease-in-out; color: #a56899; }

.menu-chic h3:nth-of-type(2) span:hover { background-size: 100% 100%; }

.menu-chic h3:nth-of-type(2) + div { color: #a56899; }

.menu-chic h3 { display: block; position: relative; line-height: 30px; width: 300px; text-align: center; width: 100%; margin: 0; margin-top: 30px; padding: 0; }

.menu-chic h3:nth-of-type(2):before { display: none; }

@media screen and (min-width: 375px) { .menu-chic h3:nth-of-type(2):before { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineL-chic-plat.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; left: 0; } }

@media screen and (min-width: 640px) { .menu-chic h3:nth-of-type(2):before { width: 30%; } }

.menu-chic h3:nth-of-type(2):after { display: none; }

@media screen and (min-width: 375px) { .menu-chic h3:nth-of-type(2):after { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineR-chic-plat.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; right: 0; } }

@media screen and (min-width: 640px) { .menu-chic h3:nth-of-type(2):after { width: 30%; } }

.menu-chic h3:nth-of-type(3) span { display: inline-block; padding-bottom: 3px; background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 2px, transparent 1px) no-repeat; background-size: 0 100%; transition: background-size 0.6s ease-in-out; color: #6e4ccc; }

.menu-chic h3:nth-of-type(3) span:hover { background-size: 100% 100%; }

.menu-chic h3:nth-of-type(3) + div { color: #6e4ccc; }

.menu-chic h3 { display: block; position: relative; line-height: 30px; width: 300px; text-align: center; width: 100%; margin: 0; margin-top: 30px; padding: 0; }

.menu-chic h3:nth-of-type(3):before { display: none; }

@media screen and (min-width: 375px) { .menu-chic h3:nth-of-type(3):before { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineL-chic-dessert.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; left: 0; } }

@media screen and (min-width: 640px) { .menu-chic h3:nth-of-type(3):before { width: 30%; } }

.menu-chic h3:nth-of-type(3):after { display: none; }

@media screen and (min-width: 375px) { .menu-chic h3:nth-of-type(3):after { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineR-chic-dessert.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; right: 0; } }

@media screen and (min-width: 640px) { .menu-chic h3:nth-of-type(3):after { width: 30%; } }

main { display: block; margin: 1rem 3% 8rem 3%; }

.menu-delice { background: #f9f9f9; text-align: center; padding: 50px 15px 50px 15px; margin: auto; max-width: 700px; }

.menu-delice h3 { white-space: nowrap; width: 235px; }

.menu-delice .dessert { display: flex; flex-direction: column; justify-content: flex-start; }

.menu-delice .tarte p:nth-child(2) { font-weight: bold; }

@media screen and (min-width: 768px) { .menu-delice { box-shadow: 0px 0px 10px 3px #c2c0c0; }
  .menu-delice .tarte { display: flex; justify-content: space-between; }
  .menu-delice .dessert p { text-align: left; } }

.menu-delice h2 { background: linear-gradient(135deg, #0229dd 0%, #0e8cfb 100%); color: transparent; -webkit-background-clip: text; font-family: 'DancingScript'; font-size: 3.5rem; margin: 50px 0 50px; }

.menu-delice h3, .menu-delice p { color: black; font-family: 'SweetyStrawberry'; letter-spacing: 1px; }

.menu-delice h3 span, .menu-delice p span { display: inline-block; padding-bottom: 3px; background: linear-gradient(to top, black 0%, black 2px, transparent 1px) no-repeat; background-size: 0 100%; transition: background-size 0.6s ease-in-out; }

.menu-delice h3 span:hover, .menu-delice p span:hover { background-size: 100% 100%; }

.menu-delice h3 { display: inline; }

.menu-delice h3 { display: block; position: relative; line-height: 30px; width: 300px; text-align: center; width: 100%; margin: 0; margin-top: 30px; padding: 0; }

.menu-delice h3:nth-of-type(1):before { display: none; }

@media screen and (min-width: 375px) { .menu-delice h3:nth-of-type(1):before { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineL-entree-del.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; left: 0; } }

@media screen and (min-width: 640px) { .menu-delice h3:nth-of-type(1):before { width: 30%; } }

.menu-delice h3:nth-of-type(1):after { display: none; }

@media screen and (min-width: 375px) { .menu-delice h3:nth-of-type(1):after { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineR-entree-del.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; right: 0; } }

@media screen and (min-width: 640px) { .menu-delice h3:nth-of-type(1):after { width: 30%; } }

.menu-delice h3 { display: block; position: relative; line-height: 30px; width: 300px; text-align: center; width: 100%; margin: 0; margin-top: 30px; padding: 0; }

.menu-delice h3:nth-of-type(2):before { display: none; }

@media screen and (min-width: 375px) { .menu-delice h3:nth-of-type(2):before { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineL-plat-del.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; left: 0; } }

@media screen and (min-width: 640px) { .menu-delice h3:nth-of-type(2):before { width: 30%; } }

.menu-delice h3:nth-of-type(2):after { display: none; }

@media screen and (min-width: 375px) { .menu-delice h3:nth-of-type(2):after { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineR-plat-del.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; right: 0; } }

@media screen and (min-width: 640px) { .menu-delice h3:nth-of-type(2):after { width: 30%; } }

.menu-delice h3 { display: block; position: relative; line-height: 30px; width: 300px; text-align: center; width: 100%; margin: 0; margin-top: 30px; padding: 0; }

.menu-delice h3:nth-of-type(3):before { display: none; }

@media screen and (min-width: 375px) { .menu-delice h3:nth-of-type(3):before { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineL-dessert-del.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; left: 0; } }

@media screen and (min-width: 640px) { .menu-delice h3:nth-of-type(3):before { width: 30%; } }

.menu-delice h3:nth-of-type(3):after { display: none; }

@media screen and (min-width: 375px) { .menu-delice h3:nth-of-type(3):after { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineR-dessert-del.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; right: 0; } }

@media screen and (min-width: 640px) { .menu-delice h3:nth-of-type(3):after { width: 30%; } }

main { display: block; margin: 1rem 3% 8rem 3%; }

.menu-palette { background: #fdfffd; text-align: center; padding: 50px 15px 50px 15px; margin: auto; max-width: 700px; }

.menu-palette h3 { white-space: nowrap; width: 235px; }

.menu-palette .dessert { display: flex; flex-direction: column; justify-content: flex-start; }

.menu-palette .tarte p:nth-child(2) { font-weight: bold; }

@media screen and (min-width: 768px) { .menu-palette { box-shadow: 0px 0px 10px 3px #c2c0c0; }
  .menu-palette .tarte { display: flex; justify-content: space-between; }
  .menu-palette .dessert p { text-align: left; } }

.menu-palette h2 { background: linear-gradient(135deg, #3e923a 0%, #beff7f 100%); color: transparent; -webkit-background-clip: text; font-family: 'KaushanScript-Regular'; font-size: 3.5rem; margin: 50px 0 50px; }

.menu-palette h3, .menu-palette p { color: black; font-family: 'SweetyStrawberry'; letter-spacing: 1px; }

.menu-palette h3 span, .menu-palette p span { display: inline-block; padding-bottom: 3px; background: linear-gradient(to top, black 0%, black 2px, transparent 1px) no-repeat; background-size: 0 100%; transition: background-size 0.6s ease-in-out; }

.menu-palette h3 span:hover, .menu-palette p span:hover { background-size: 100% 100%; }

.menu-palette h3 { display: inline; }

.menu-palette h3 { display: block; position: relative; line-height: 30px; width: 300px; text-align: center; width: 100%; margin: 0; margin-top: 30px; padding: 0; }

.menu-palette h3::before { display: none; }

@media screen and (min-width: 375px) { .menu-palette h3::before { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineL-palette.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; left: 0; } }

@media screen and (min-width: 640px) { .menu-palette h3::before { width: 30%; } }

.menu-palette h3::after { display: none; }

@media screen and (min-width: 375px) { .menu-palette h3::after { display: inline-block; content: " "; text-shadow: none; background: url(../Img/LineR-palette.svg) no-repeat center; background-size: 100%; width: 15%; min-width: 10%; height: 30px; position: absolute; right: 0; } }

@media screen and (min-width: 640px) { .menu-palette h3::after { width: 30%; } }
