html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 90px;
    background-color: #579c87;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteneur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 740px;
    margin: auto;
}

h1 a {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3rem;
    letter-spacing: -5px;
    color: #fdcb46;
    text-decoration: none;
}

.tesseract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 305px;
    width: 220px;
    box-shadow: 0px 0px 10px 3px #E0E0E0;
    margin: 20px;
}

.tesseract a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.4s;
}

.tesseract a:hover {
    transform: scale(1.15);
}

.note {
    background-color: #fcdfdb;
}

.chic {
    background-color: #fff5fe;
}

.delice {
    background-color: #f9f9f9;
}

.palette {
    background-color: #fdfffd;
}

#soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 265px;
    background-color: #579c87;
    border-radius: 10px;
    margin-bottom: 100px;
}

#soon p {
    color: #fdcb46;
    font-family: 'Archivo', sans-serif;
    font-size: 1.3rem;
}

footer {
    height: 70px;
    width: 100%;
    background-color: #579c87;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer a {
    font-family: 'Archivo', sans-serif;
    font-size: 1.2rem;
    color: #fdcb46;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}

@media (max-width: 741px) {
    #conteneur {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    footer {
        width: 92%;
    }
}