//---------------------dégradés de texte
@mixin degrade-text ($direct: to right, $color1: #eee 0%, $color2: #333 0%) {
    background: linear-gradient($direct, $color1, $color2);
    color: transparent;
    -webkit-background-clip: text;
}

//------------------Mixin générales
@mixin min-reset {
    height: 100%;
    margin: 0;
    padding: 0;
}

@mixin display-fullcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin main {
    display: block;
    margin: 1rem 3% 8rem 3%;
}

@mixin btn {
    @include display-fullcenter;
    text-decoration: none;
    color: $text-color;
    font-family: 'Archivoregular', sans-serif;
    font-size: 1.3rem;
    height: 45px;
    width: 265px;
    background-color: $color-primary;
    border-radius: 10px;
    margin: 50px 0 100px;
}

//-----------------Mixin header--footer
@mixin header {
    height: 110px;
    background-color: $color-primary;
    @include display-fullcenter;
}

@mixin h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 4rem;
    letter-spacing: -6px;
    color: $text-color;
    text-decoration: none;
}

@mixin footer {
    height: 70px;
    width: 100vw;
    background-color: $color-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

@mixin footer-a {
    font-family: 'Archivoregular', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: $text-color;
    text-decoration: none;
    padding: 0 25px 0 25px;
}

//-----------------------Mixin cadres / menus
@mixin boxshadow {
    box-shadow: 0px 0px 10px 3px $color-box-shadow;
}

@mixin cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 345px;
    width: 260px;
    margin: 20px;
    background: $color-note;
    @include boxshadow;
    @media screen and(min-width: 1024px) {
        height: 405px;
        width: 305px;
    }
}

@mixin separateurs {
    h3 {
        display: block;
        position: relative;
        line-height: 30px;
        width: 300px;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-top: 30px;
        padding: 0;
    }
}

@mixin h3before($sepB) {
    display: none;
    @media screen and (min-width: 375px) {
        display: inline-block;
        content: " ";
        text-shadow: none;
        background: $sepB no-repeat center;
        background-size: 100%;
        width: 15%;
        min-width: 10%;
        height: 30px;
        position: absolute;
        left: 0;
    }
    @media screen and (min-width: 640px) {
        width: 30%
    }
}

@mixin h3after($sepA) {
    display: none;
    @media screen and (min-width: 375px) {
        display: inline-block;
        content: " ";
        text-shadow: none;
        background: $sepA no-repeat center;
        background-size: 100%;
        width: 15%;
        min-width: 10%;
        height: 30px;
        position: absolute;
        right: 0;
    }
    @media screen and (min-width: 640px) {
        width: 30%;
    }
}

@mixin menu ($colour-bgd: #eee) {
    background: $colour-bgd;
    text-align: center;
    padding: 50px 15px 50px 15px;
    margin: auto;
    max-width: 700px;
    h3 {
        white-space: nowrap;
        width: 235px;
    }
    .dessert {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .tarte p:nth-child(2) {
        font-weight: bold;
    }
    @media screen and (min-width: 768px) {
        @include boxshadow;
        .tarte {
            display: flex;
            justify-content: space-between;
        }
        .dessert p {
            text-align: left;
        }
    }
}