.main {
    @include main;
}

.menu-note {
    @include menu ($color-note);
    h3,
    p {
        color: $color-text-note;
        font-family: 'Heart-Warning';
        span {
            @include Under ($color-text-note);
            color: $color-text-note;
        }
    }
    h1 {
        font-family: 'Devonshire-regular';
        font-size: 2.5em;
        margin-top: 5px;
    }
    h2 {
        font-family: 'Devonshire-regular';
        font-size: 2em;
        margin-top: 50px;
    }
    h3 {
        display: inline;
        +div {
            color: $color-text-note;
        }
    }
    @include separateurs;
    h3::before {
        @include h3before (map-get($sepB, noteB));
    }
    h3::after {
        @include h3after (map-get($sepA, noteB));
    }
    .i-note {
        @include degrade-text (to right, $leftcolor, $rightcolor);
        font-size: 4rem;
        margin: 50px 0 0;
    }
    .fab {
        @include degrade-text (to right, $leftcolor, $rightcolor);
        margin-right: 10px;
    }
}