.soon {
    @include display-fullcenter;
    a {
        @include btn;
        opacity: 1;
        transition: opacity 0.6s;
        &:hover {
            opacity: 0.8;
        }
    }
    &__btn {
        p {
            @include btn;
        }
        span {
            @include Dots
        }
    }
}

.vibreur:hover {
    @include shake;
}