@font-face {
    font-family: 'Devonshire-Regular';
    src: url('../fonts/Devonshire-Regular.ttf');
}

@font-face {
    font-family: 'Heart-Warning';
    src: url('../fonts/Heart-Warming.otf');
}

@font-face {
    font-family: 'CroissantOne-Regular';
    src: url(../fonts/CroissantOne-Regular.ttf);
}

@font-face {
    font-family: 'DancingScript';
    src: url(../fonts/DancingScript.ttf);
}

@font-face {
    font-family: 'KaushanScript-Regular';
    src: url(../fonts/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: 'SweetyStrawberry';
    src: url(../fonts/SweetyStrawberry.ttf)
}

@font-face {
    font-family: 'Vinegar-Regular';
    src: url(../fonts/Vinegar-Regular.otf)
}

* {
    box-sizing: border-box;
}


/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select,
textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

td:not([align]),
th:not([align]) {
    text-align: left
}